
@{
    ViewData["Title"] = "Allocate Roles: ";
}

<h1>Index</h1>

<form method="post" action="/RoleManagement/AllocateRole">
    <table class="table">
        <thead>
            <tr>
                <td>Roles: </td>
                <td>
                    <select name="role">
                        @foreach (var role in Model.Roles)
                        {
                            <option value="@role.Name">@role.Name</option>
                        }
                    </select>
                </td>
                <td>Choose User: </td>
                <td>
                    <select name="user">
                        @foreach (var user in Model.Users)
                        {
                            var fullname = user.FirstName + "" + user.LastName + "" + user.Email;
                            <option value="@user.UserName">@user.FirstName </option>
                        }
                    </select>
                </td>
            </tr>

        </thead>
    </table>
    <input type="submit" value="Allocate" name="btnName" class="btn btn-outline-primary" />&nbsp;
    <input type="submit" value="Deallocate" name="btnName" class="btn btn-outline-primary" />
</form>

