@model AssignmentTask.Application.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Add a Comment</h1>

<hr />
<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CommentArea" class="control-label"></label>
                    <input asp-for="CommentArea" class="form-control" style="height:200px;width:500px;" id="id">
                    <span asp-validation-for="CommentArea" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-outline-success" id="btnAdd" />
                </div>
            </form>
        </div>
    </div>
</body>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var _0x3116 = ['body', '427668EkRymX', 'background-color', 'blue', '72221VSuVUr', 'ready', '184213BdUjRZ', '6VGYoXu', '546884ZcSMvH', 'css', '971765ngErwA', '348872zpdOhY', 'grey', '460197lWiaVU']; var _0x163ad7 = _0x243b; function _0x243b(_0x1d77dd, _0x23f874) { _0x1d77dd = _0x1d77dd - 0x18e; var _0x311680 = _0x3116[_0x1d77dd]; return _0x311680; } (function (_0x31a875, _0x9a3410) { var _0x4997ad = _0x243b; while (!![]) { try { var _0x2c3733 = parseInt(_0x4997ad(0x198)) + -parseInt(_0x4997ad(0x191)) + -parseInt(_0x4997ad(0x18e)) + parseInt(_0x4997ad(0x193)) + -parseInt(_0x4997ad(0x196)) * -parseInt(_0x4997ad(0x199)) + parseInt(_0x4997ad(0x19a)) + parseInt(_0x4997ad(0x18f)); if (_0x2c3733 === _0x9a3410) break; else _0x31a875['push'](_0x31a875['shift']()); } catch (_0x3298d8) { _0x31a875['push'](_0x31a875['shift']()); } } }(_0x3116, 0x7c449), $(document)[_0x163ad7(0x197)](function () { var _0x17deba = _0x163ad7; $(_0x17deba(0x192))['on']({ 'mouseenter': function () { var _0x33bb96 = _0x17deba; $(this)[_0x33bb96(0x19b)](_0x33bb96(0x194), _0x33bb96(0x190)); }, 'mouseleave': function () { var _0x3f374c = _0x17deba; $(this)[_0x3f374c(0x19b)](_0x3f374c(0x194), _0x3f374c(0x195)); }, 'dblclick': function () { var _0x32825b = _0x17deba; $(this)[_0x32825b(0x19b)](_0x32825b(0x194), 'yellow'); } }); }));
</script>
