@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center"> Welcome! </h1>
<br />
<br />
<div class="container">
    <div class="list-group">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("TEACHER"))
            {
                <a class="list-group-item list-group-item-action" asp-controller="Tasks" asp-action="Create"> Create a Task</a>
            }

            <a class="list-group-item list-group-item-action" asp-controller="Tasks" asp-action="List">List of Tasks</a>
        }
    </div>
</div>